body {
    background-color: #211f1f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 6px 12px;
    width: 20em;
    height: 18em;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}
#logo {
    height: 50px;
}
#settings-icon {
    cursor: pointer;
}
.btn-primary {
    background-color:#E50914;
    border-color: #E50914;
}
.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
#not-logged-in, #logged-in {
    margin-top: 15px;
}
  