body {
    background-color: #211f1f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 6px 12px;
    width: 20em;
    height: 18em;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #ffffff;
    cursor: pointer;
}

#settings-icon {
    cursor: pointer;
}

.btn-primary {
    color: #E50914;
    background-color:#ffffff;
    border-color: #ffffff;
    font-weight: bold;
}

.btn-secondary {
    color: #E50914;
    background-color:#ffffff;
    border-color: #ffffff;
    font-weight: bold;
}

#not-logged-in, #logged-in {
    margin-top: 15px;
}
  